.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background: url(public/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
}

.landingPageContainer nav {
    padding-inline: 1.2rem;
    padding-block: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.landingPageContainer .navHeader h2 {
    margin: 0;
    padding: 0;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    text-align: center;

}

.meetContainer {
    display: flex;
    padding-inline: 20px;
    height: 80vh;
    gap: 10vw;
    justify-content: center;
}



.leftPanel {
    height: 100%;
    display: flex;
    align-items: center;

}

.rightPanel {
    display: flex;
    align-items: center;
}

.rightPanel>img {
    width: 30vw;
    height: auto;
    border-radius: 20px;
}